@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --blue: #0066FE;
  --pink: #FFEFEF;
  --red: #FF7171;
  --soft-blue: #F3FBFE
}

:root {
  --color-background: var(--white);
  --color-background-secondary: var(--soft-blue);
  --color-background-soft: var(--pink);
  --color-background-mute: var(--red);

  --color-text: var(--black);
}

@font-face {
  font-family: 'Gilroy-Extrabold';
  src: url('./fonts/Gilroy-ExtraBold.otf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}